




<%= form_with model:@user,local:true do |f| %>

<div class="container">
    <div class="row">
        <div class="col col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
         <h1>User info</h1>
        <% if @user.errors.any? %>
  <h1><%= @user.errors.count %>error prohibited this obj from being saved:</h1>
  <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
 <% end %>
 <% end %>
     
        <%= f.label :name %>
        <div class="form-group">
            <%= f.text_field :name,class:'form-control book_body' %>
        </div>
        
        <%= f.label :Image %>
        <div class="form-group">
        <%= f.attachment_field :profile_image %>
        </div>
        
        <%= f.label :Introduction %>
        <div class="form-group">
        <%= f.text_area :introduction,class:'form-control book_body' %>
        </div>
        
        <%= f.submit"Update User",class:"btn btn-secondary"%>
        </div>
    </div>
</div>
<% end %>

