<% if @user.errors.any? %>
  <%= @user.errors.count %>Errors prohibited this obj from being saved:
  <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
 <% end %>
 <% end %>


<div class="container">  
  <div class="row">      
   <div class="col-md-3"> 
     <%= render 'users/info',user:@user %>
     <%= render 'books/new',book:@book %>
   </div>
       <div class="col-md-8 offset-md-1"> 
          <h2>Books</h2>
          <table class="table table-hover table-inverse">
              <thead> 
               <tr class="border-top border-bottom"> 
                   <th></th>
                   <th>Title</th>
                   <th>Opinion</th>
               </tr>
              </thead>
              <% @user_books.each do |user_books| %>
              <tbody class="border-top border-bottom">
                  <tr>
                      <td><%= link_to attachment_image_tag(user_books.user, :profile_image, size: "40x40", format: 'jpg', fallback: "no_image.jpg"),user_path(@user) %> </td>
                      <td><%= link_to user_books.title,book_path(user_books.id) %></td>
                      <td><%= user_books.body %></td>
                      <td></td>
                  </tr>
                  <% end %>
              </tbody>
          </table>
   </div>
  </div>
</div>
